<div *ngIf="funcionario">
    <div>
      <label>Nome: </label> {{funcionario.nome}}
    </div>
    <div>
      <label>Id: </label> {{funcionario.id}}
    </div>
    <div>
      <label>Active: </label> {{funcionario.active}}
    </div>
   
    <span class="button is-small btn-primary" *ngIf='funcionario.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!funcionario.active' (click)='updateActive(true)'>Active</span>
   
    <span class="button is-small btn-danger" (click)='deleteFuncionario()'>Delete</span>
   
    <hr />
  </div>